<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
  
    
    <title>Blog</title>
</head>

<body>
    

  <header>
    <div class="nav">
      <h1>Blog
        <img src="/styles/images/blog.jpg" />
      </h1>
      <div>
        <a href="/">Home</a>
        <a href="/allBlogs">View blogs</a>
        <a href="/writeBlog">Create</a>
      </div>
    </div>
  </header>
